<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">


<ui:composition template="/arch2.xhtml">

	<ui:define name="head">
		<title>Administrateur BeBOP</title>
	</ui:define>



	<ui:define name="content">
		<b:form>



			<b:panel title="Comptes administrateur" collapsed="true">
				<b:row>
					<h:outputLabel value="#{mbAdminOperations.adminMessage}" />
					<br />
					<div class="myTable-container">
						<h:dataTable styleClass="myTable"
							value="#{mbAdminOperations.admins}" var="admin">
							<h:column>
								<f:facet name="header">Identifiant</f:facet>
							#{admin.username}
						</h:column>

							<h:column>
								<f:facet name="header">Prénom</f:facet>
							#{admin.firstName}
						</h:column>

							<h:column>
								<f:facet name="header">Nom</f:facet>
							#{admin.lastName}
						</h:column>

							<h:column>
								<f:facet name="header">Email</f:facet>
							#{admin.emailRecovery}
						</h:column>

							<h:column>
								<f:facet name="header">Création</f:facet>
							#{admin.createTime}
						</h:column>

							<h:column>
								<f:facet name="header">Désactivation</f:facet>
							#{admin.deactivationTime}
						</h:column>

							<h:column>
								<f:facet name="header">Suppression définitive</f:facet>
							#{admin.permanentlyDelete}
						</h:column>

							<h:column>
								<b:commandButton style-class="bebop-width-100" value="Details"
									action="#{mbAdminOperations.searchOneAdminById(admin)}" />
							</h:column>
						</h:dataTable>
					</div>
				</b:row>

				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Identifiant" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText placeholder="Veuillez entrer un identifiant"
							value="#{mbAdminOperations.adminUsername}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Mot de passe" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputSecret placeholder="Veuillez entrer un mot de passe"
							value="#{mbAdminOperations.password}">
						</b:inputSecret>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Prénom" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText placeholder="Veuillez entrer votre prénom"
							value="#{mbAdminOperations.firstName}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Nom" />
					</b:column>

					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText placeholder="Veuillez entrer votre nom"
							value="#{mbAdminOperations.lastName}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Email" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText placeholder="Veuillez entrer votre email"
							value="#{mbAdminOperations.emailRecovery}" mask="email">
						</b:inputText>
					</b:column>
				</b:row>

				<b:row>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Rechercher"
							action="#{mbAdminOperations.searchAllAdminsByMulti()}" />
					</b:column>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Créer"
							action="#{mbAdminOperations.createAdmin()}" />
					</b:column>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Modifier"
							action="#{mbAdminOperations.modifyAdmin()}" />
					</b:column>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Supprimer"
							action="#{mbAdminOperations.removeAdmin()}" />
					</b:column>
				</b:row>
			</b:panel>



			<b:panel title="Comptes partenaire" collapsed="true">
				<b:row>
					<h:outputLabel value="#{mbAdminOperations.partnerMessage}" />
					<br />
					<div class="myTable-container">
						<h:dataTable styleClass="myTable"
							value="#{mbAdminOperations.partners}" var="partner">
							<h:column>
								<f:facet name="header">Identifiant</f:facet>
							#{partner.username}
						</h:column>

							<h:column>
								<f:facet name="header">Prénom</f:facet>
							#{partner.firstName}
						</h:column>

							<h:column>
								<f:facet name="header">Nom</f:facet>
							#{partner.lastName}
						</h:column>
						
						<h:column>
								<f:facet name="header">Date de naissance</f:facet>
							#{partner.birthdate}
						</h:column>

							<h:column>
								<f:facet name="header">Organisation</f:facet>
							#{partner.organization}
						</h:column>

							<h:column>
								<f:facet name="header">Titre</f:facet>
							#{partner.title}
						</h:column>
						
						<h:column>
								<f:facet name="header">Email</f:facet>
							#{partner.email}
						</h:column>
						
						<h:column>
								<f:facet name="header">Téléphone</f:facet>
							#{partner.phone}
						</h:column>
						
						<h:column>
								<f:facet name="header">Ville</f:facet>
							#{partner.city.name} #{partner.city.country.name}
						</h:column>
						
						<h:column>
								<f:facet name="header">Validé partenaire</f:facet>
							#{partner.adminApproval}
						</h:column>

							<h:column>
								<f:facet name="header">Création</f:facet>
							#{partner.createTime}
						</h:column>
						
							<h:column>
								<f:facet name="header">Désactivation</f:facet>
							#{partner.deactivationTime}
						</h:column>

							<h:column>
								<f:facet name="header">Suppression définitive</f:facet>
							#{partner.permanentlyDelete}
						</h:column>

							<h:column>
								<b:commandButton style-class="bebop-width-100" value="Details"
									action="#{mbAdminOperations.searchOnePartnerById(partner)}" />
							</h:column>
						</h:dataTable>
					</div>
				</b:row>

				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Identifiant" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText
							placeholder="Veuillez entrer le nom d'un compte partenaire"
							value="#{mbAdminOperations.partnerUsername}">
						</b:inputText>
					</b:column>
				</b:row>

				<b:row>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Valider"
							action="#{mbAdminOperations.validatePartner()}" />
					</b:column>
				</b:row>
			</b:panel>



			<b:panel title="Comptes client" collapsed="true">
				<b:row>
					<h:outputLabel value="#{mbAdminOperations.clientMessage}" />
					<br />
					<div class="myTable-container">
						<h:dataTable styleClass="myTable"
							value="#{mbAdminOperations.clients}" var="client">
							<h:column>
								<f:facet name="header">Identifiant</f:facet>
							#{client.username}
						</h:column>

							<h:column>
								<f:facet name="header">Prénom</f:facet>
							#{client.firstName}
						</h:column>

							<h:column>
								<f:facet name="header">Nom</f:facet>
							#{client.lastName}
						</h:column>

							<h:column>
								<f:facet name="header">Date de naissance</f:facet>
							#{client.birthdate}
						</h:column>

							<h:column>
								<f:facet name="header">Email</f:facet>
							#{client.email}
						</h:column>

							<h:column>
								<f:facet name="header">Téléphone</f:facet>
							#{client.phone}
						</h:column>

							<h:column>
								<f:facet name="header">Points</f:facet>
							#{client.points}
						</h:column>

						<h:column>
								<f:facet name="header">Ville</f:facet>
							#{client.city.name} #{client.city.country.name}
						</h:column>
						
							<h:column>
								<f:facet name="header">Création</f:facet>
							#{client.createTime}
						</h:column>
						
							<h:column>
								<f:facet name="header">Désactivation</f:facet>
							#{client.deactivationTime}
						</h:column>
						
							<h:column>
								<f:facet name="header">Suppression définitive</f:facet>
							#{client.permanentlyDelete}
						</h:column>

							<h:column>
								<b:commandButton style-class="bebop-width-100" value="Details"
									action="#{mbAdminOperations.searchOneClientById(client)}" />
							</h:column>
						</h:dataTable>
					</div>
				</b:row>

				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Identifiant" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText
							placeholder="Veuillez entrer le nom d'un compte client"
							value="#{mbAdminOperations.clientUsername}">
						</b:inputText>
					</b:column>
				</b:row>

				<b:row>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Rechercher"
							action="#{mbAdminOperations.searchAllClientsByName()}" />
					</b:column>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Supprimer"
							action="#{mbAdminOperations.removeClient()}" />
					</b:column>
				</b:row>
			</b:panel>



			<b:panel title="Types de récompenses" collapsed="true">
				<b:row>
					<h:outputLabel value="#{mbAdminOperations.rewardTypeMessage}" />
					<br />
					<div class="myTable-container">
						<h:dataTable styleClass="myTable"
							value="#{mbAdminOperations.rewardTypes}" var="rewardType">
							<h:column>
								<f:facet name="header">Nom</f:facet>
							#{rewardType.name}
						</h:column>

							<h:column>
								<f:facet name="header">Points</f:facet>
							#{rewardType.points}
						</h:column>

							<h:column>
								<f:facet name="header">Description</f:facet>
							#{rewardType.description}
						</h:column>

							<h:column>
								<f:facet name="header">Photo</f:facet>
							#{rewardType.picture}
						</h:column>

							<h:column>
								<b:commandButton style-class="bebop-width-100" value="Details"
									action="#{mbAdminOperations.searchOneRewardTypeById(rewardType)}" />
							</h:column>
						</h:dataTable>
					</div>
				</b:row>

				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Nom" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText placeholder="Veuillez entrer un nom de récompense"
							value="#{mbAdminOperations.rewardTypeName}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Points" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText placeholder="Veuillez un nombre de points"
							value="#{mbAdminOperations.rewardTypePoints}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Description" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText placeholder="Veuillez une description"
							value="#{mbAdminOperations.rewardTypeDescription}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Photo" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText placeholder="Veuillez un nom de photo"
							value="#{mbAdminOperations.rewardTypePicture}">
						</b:inputText>
					</b:column>
				</b:row>

				<b:row>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Rechercher"
							action="#{mbAdminOperations.searchAllRewardTypesByName()}" />
					</b:column>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Créer"
							action="#{mbAdminOperations.createRewardType()}" />
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Modifier"
							action="#{mbAdminOperations.modifyRewardType()}" />
					</b:column>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Supprimer"
							action="#{mbAdminOperations.removeRewardType()}" />
					</b:column>
				</b:row>
			</b:panel>



			<b:panel title="Récompenses" collapsed="true">
				<b:row>
					<h:outputLabel value="#{mbAdminOperations.rewardMessage}" />
					<br />
					<div class="myTable-container">
						<h:dataTable styleClass="myTable"
							value="#{mbAdminOperations.rewards}" var="reward">
							<h:column>
								<f:facet name="header">Code</f:facet>
							#{reward.redeemCode}
						</h:column>

							<h:column>
								<f:facet name="header">Info</f:facet>
							#{reward.info}
						</h:column>

							<h:column>
								<f:facet name="header">Type de récompense</f:facet>
							#{reward.rewardType.name}
						</h:column>

							<h:column>
								<f:facet name="header">Utilisation</f:facet>
							#{reward.purchaseTime}
						</h:column>

							<h:column>
								<b:commandButton style-class="bebop-width-100" value="Details"
									action="#{mbAdminOperations.searchOneRewardById(reward)}" />
							</h:column>
						</h:dataTable>
					</div>
				</b:row>

				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Code" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText
							placeholder="Veuillez entrer le code unique de la récompense"
							value="#{mbAdminOperations.rewardCode}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Info" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText
							placeholder="Veuillez entrer l'info liée à la récompense"
							value="#{mbAdminOperations.rewardInfo}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Type de récompense" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">

						<b:selectOneMenu value="#{mbAdminOperations.rewardTypeFK}">
							<f:selectItems value="#{mbAdminOperations.rewardTypes}"
								var="rewardType" itemValue="#{rewardType.id}"
								itemLabel="#{rewardType.name}" />
						</b:selectOneMenu>


					</b:column>

				</b:row>

				<b:row>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Rechercher"
							action="#{mbAdminOperations.searchAllRewardsByName()}" />
					</b:column>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Créer"
							action="#{mbAdminOperations.createReward()}" />
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Modifier"
							action="#{mbAdminOperations.modifyReward()}" />
					</b:column>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Supprimer"
							action="#{mbAdminOperations.removeReward()}" />
					</b:column>
				</b:row>
			</b:panel>



		</b:form>
	</ui:define>
</ui:composition>

</html>