<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Archetype Page</title>
	</ui:define>

	<ui:define name="content">

		<b:panel title="List of archetypes">
			<h:outputLabel value="Controller message : #{mbArchetype.message}" />
			<ui:repeat value="#{mbArchetype.archetypeEntities}" var="archetype">
				<br />
				<h:outputLabel value="name : #{archetype.name} id : #{archetype.id}" />
			</ui:repeat>
		</b:panel>

		<b:form id="archetypeForm">
			<b:panel>
				<b:row>
					<b:column
						style-class="hidden-xs bebop-top-1rem col-sm-offset-1 col-sm-2 col-md-2">
						<h:outputText value="Name" />
					</b:column>
					<b:column
						style-class="hidden-sm hidden-md hidden-lg col-xs-offset-1 col-xs-10">
						<h:outputText value="Name" />
					</b:column>
					<b:column
						style-class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-8 col-md-8">
						<b:inputText id="archetypeName" placeholder="Enter a name"
							onfocus="this.value=''" value="#{mbArchetype.name}">
						</b:inputText>
					</b:column>
				</b:row>
				<b:row>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Search"
							action="#{mbArchetype.searchAllArchetypesByName()}" />
					</b:column>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Create"
							action="#{mbArchetype.createOneArchetype()}" />
					</b:column>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Modify"
							action="#{mbArchetype.modifyOneArchetype()}" />
					</b:column>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="Remove"
							action="#{mbArchetype.removeArchetype()}" />
					</b:column>
					<b:column
						style-class="bebop-padding-1rem col-xs-offset-1 col-sm-offset-1 col-xs-10 col-sm-10 col-md-4">
						<b:commandButton style-class="bebop-width-100" value="SearchID"
							action="#{mbArchetype.searchOneArchetypeById()}" />
					</b:column>
				</b:row>
			</b:panel>

		</b:form>

	</ui:define>
</ui:composition>

</html>