<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Mes billets</title>
	</ui:define>

	<ui:define name="content">
		<b:form>
			<b:panel
				style-class="col-sm-offset-0 col-md-offset-0 col-xs-12 col-sm-12 col-md-12">
				<b:row>
					<h3>Mon Box Office</h3>
				</b:row>
				<h1 style="font-style: italic">Dashboard</h1>
				<b:row>
					<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						Duis nulla elit, mollis eu accumsan ut, tincidunt et lectus.
						Pellentesque ut risus non ex venenatis auctor ac elementum purus.
						Sed dapibus mattis ipsum at eleifend. Cras sit amet pulvinar arcu.
						Curabitur et tellus eget elit lacinia hendrerit ac et risus.
						Suspendisse varius, nisi mollis rutrum feugiat, magna lectus
						finibus erat, aliquam hendrerit libero magna tristique sem. Mauris
						id sem ultricies felis vehicula mattis sed non mauris. Aenean
						accumsan accumsan arcu, ut tempor massa molestie in. Integer vel
						lobortis neque. In in nibh sit amet augue placerat fermentum eu
						eget est.</h4>
				</b:row>
			</b:panel>
		</b:form>
	</ui:define>
</ui:composition>

</html>

