<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Mes billets</title>
	</ui:define>

	<ui:define name="content">
		<b:form>
			<b:panel
				style-class="col-sm-offset-0 col-md-offset-0 col-xs-12 col-sm-12 col-md-12">
				<b:row>
					<h3>Mon panier</h3>
				</b:row>
				<b:row>
					<h4>In id facilisis nisi. Cras sed risus enim. In condimentum
						pretium velit, et porta felis mattis sed. Aenean posuere purus
						magna, a efficitur sapien faucibus ut. Donec mollis, odio id
						efficitur condimentum, lacus nulla sollicitudin ipsum, nec
						volutpat massa urna eget leo. Ut sed tortor ut turpis sagittis
						vulputate. Cras tristique massa massa, eget tincidunt enim
						ultrices eu. Aliquam pellentesque condimentum tortor, ultricies
						egestas orci dapibus non. Vivamus vel augue feugiat, ullamcorper
						erat ut, euismod elit.</h4>
				</b:row>
			</b:panel>
		</b:form>
	</ui:define>
</ui:composition>

</html>

