<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Détails événement</title>
	</ui:define>

	<ui:define name="content">
		<b:form>
			<b:panel
				style-class="col-sm-offset-0 col-md-offset-0 col-xs-12 col-sm-12 col-md-12">
				<b:row>
					<h3>Détails de l'événement</h3>
				</b:row>
				<b:row>
					<h1 style="font-style: italic">Programme</h1>
				</b:row>
				<b:row>
					<h4>Nunc mollis nisi accumsan orci vulputate, eget tristique
						odio tempus. Curabitur quis ex sem. Mauris ornare dapibus dolor
						vitae viverra. Ut suscipit eget ante in tempus. Phasellus
						consequat erat eget nibh vestibulum, at tempus urna mattis.
						Phasellus feugiat lectus vitae arcu pulvinar, ac aliquam nulla
						porta. Vivamus efficitur erat nec vehicula dignissim. Ut quis
						tincidunt ex, sit amet vehicula purus. Quisque in erat convallis,
						viverra lectus in, elementum erat. Morbi interdum massa varius,
						dapibus libero et, tristique mauris. Donec sollicitudin hendrerit
						metus sagittis dictum. Nullam quis dictum lacus. Curabitur sed
						neque quis lacus varius ultricies ornare eget est. Nam fringilla
						ornare auctor. Sed tempor scelerisque turpis eget convallis.</h4>
				</b:row>
			</b:panel>
		</b:form>
	</ui:define>
</ui:composition>

</html>