<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Accueil BeBOP</title>
	</ui:define>



	<ui:define name="content">
		<b:form>
			<b:panel
				style-class="col-sm-offset-0 col-md-offset-0 col-xs-12 col-sm-12 col-md-12">
				<b:row>
					<h3>Accueil</h3>
				</b:row>
				<b:row>
					<h1 style="font-style: italic">Be Box Office Planet</h1>
				</b:row>
				<b:row>
					<h4>Startup fondée à Paris en décembre 2021, Be Box-Office
						Planet veut créer une nouvelle génération de billetterie en ligne
						centralisée pour les concerts et spectacles ayant lieu dans les
						grandes villes.</h4>
				</b:row>
				<b:row>
					<h4>Son idée fédératrice est de soutenir la culture d’une part
						en facilitant les réservations de places depuis une même
						plateforme, mais aussi en mettant à disposition aux professionnels
						des métiers du spectacle un outil leur permettant de créer leur
						propre billetterie en ligne.</h4>
				</b:row>
			</b:panel>
		</b:form>
	</ui:define>
</ui:composition>

</html>

