<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Mes récompenses</title>
	</ui:define>

	<ui:define name="content">
		<b:form>
			<b:panel
				style-class="col-sm-offset-0 col-md-offset-0 col-xs-12 col-sm-12 col-md-12">
				<b:row>
					<h3>Mes récompenses</h3>
				</b:row>
				<b:row>
					<h4>Vestibulum tellus tortor, auctor eu sagittis eget,
						eleifend eu nulla. Nam tempus orci in ante vehicula dapibus.
						Praesent semper leo ac bibendum commodo. Suspendisse et elementum
						lectus, a porta ex. Integer consequat ac ante nec pellentesque.
						Nunc euismod nisi eget justo semper ullamcorper. Aenean
						consectetur pulvinar lectus, vel porta arcu faucibus eget. Nunc
						venenatis, tortor id pretium pretium, neque tellus iaculis massa,
						in faucibus arcu velit at lectus. Cras a malesuada eros.
						Suspendisse nec magna volutpat, pulvinar enim sed, posuere ligula.
						In tellus dolor, rhoncus vel consectetur ut, pellentesque vel
						nisl. Nulla luctus, sem at fringilla congue, leo libero rutrum
						felis, eget posuere metus nunc in nulla. Quisque lacinia elit dui,
						ac tempus lacus auctor et. Phasellus elementum facilisis
						facilisis.</h4>
				</b:row>
			</b:panel>
		</b:form>
	</ui:define>
</ui:composition>

</html>

