<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:b="http://bootsfaces.net/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

<ui:composition template="/arch.xhtml">
	<ui:define name="head">
		<title>Paramètres</title>
	</ui:define>

	<ui:define name="content">
		<b:form>
			<b:panel
				style-class="col-sm-offset-0 col-md-offset-0 col-xs-12 col-sm-12 col-md-12">
				<b:row>
					<h3>Paramètres de compte</h3>
				</b:row>
				<b:row>
					<h4>Vestibulum a arcu enim. Ut rutrum porttitor est ac
						aliquet. Curabitur ligula felis, aliquam et est id, sodales
						bibendum quam. Duis eros est, gravida dignissim neque vitae,
						semper porttitor tortor. Quisque egestas a eros in vestibulum.
						Vivamus id justo sit amet quam sollicitudin ullamcorper. Nunc non
						turpis id mauris porttitor elementum. Pellentesque pellentesque
						non libero at dictum. Interdum et malesuada fames ac ante ipsum
						primis in faucibus. Fusce quis malesuada quam, id consequat eros.
						Vivamus semper arcu a enim accumsan, eget fermentum lorem
						efficitur. Ut eget blandit nisl. Nunc efficitur quam lectus, quis
						porta felis fringilla vitae. Sed diam metus, ullamcorper ut
						consequat sed, accumsan non odio. Proin dignissim pharetra lorem,
						tempus cursus libero auctor sed.</h4>
				</b:row>
			</b:panel>
		</b:form>
	</ui:define>
</ui:composition>

</html>

